@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* body {
  box-sizing: border-box;
  margin: 0;
  background-color: #333;
  color: white;
  font-family: 'Noto Serif', serif;
} */

/* .app {
  display: flex;
  font-size: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.odometer {
  margin-top: 50px;
  overflow: hidden;
  height: 68px;

}


.odometerItem {
  display: inline-block;
  writing-mode: vertical-rl;
  text-orientation: upright;
  vertical-align: top;
}
/* button {
  padding: 12px 24px;
  background-color: coral;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  transition: 240ms ease-in-out;

  &:hover {
    background-color: lightcoral;
    cursor: pointer;
  }
} */
.fade {
  /* animation: fade-in 10 ease-out; */
  animation-name: fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 960ms;
}

@keyframes fade-in {
  from {
    opacity: 0.04;
    scale: .98;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}